<!DOCTYPE html>
<html>
<head>
<title>Poluição Ilimitada Ltda.</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../static/resources/img/terror/logo.png');
  min-height: 100%;
}
</style>
</head>
<body>

<!-- Sidebar with image -->
<nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
  <div class="bgimg"></div>
</nav>


<!-- Page Content -->
<div class="w3-main w3-padding-large" style="margin-left:40%">

  <!-- Header -->
  <header class="w3-container w3-center" style="padding:128px 16px" id="home">
    <h1 class="w3-jumbo"><b>Poluição Ilimitada Ltda.</b></h1>
    <p>Organização poluidora internacional.</p>
    <img src="../static/resources/img/terror/logo.png" class="w3-image w3-hide-large w3-hide-small w3-round" style="display:block;width:60%;margin:auto;">
    <img src="../static/resources/img/terror/logo.png" class="w3-image w3-hide-large w3-hide-medium w3-round" width="1000" height="1333">
  </header>

  <!-- Portfolio Section -->
  <div class="w3-padding-32 w3-content" id="portfolio">
    <h2 class="w3-text-grey">Nosso portfolio</h2>
    <hr class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img src="../static/resources/img/terror/petro1.jpg" style="width:100%">
        <img src="../static/resources/img/terror/desm1.jpg" style="width:100%">
        <img src="../static/resources/img/terror/petro2.jpg" style="width:100%">
      </div>

      <div class="w3-half">
        <img src="../static/resources/img/terror/petro3.jfif" style="width:100%">
        <img src="../static/resources/img/terror/petro4.jfif" style="width:100%">
        <img src="../static/resources/img/terror/petro5.jpg" style="width:100%">
        <img src="../static/resources/img/terror/petro6.jpg" style="width:100%">
      </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
    <h2>Sobre</h2>
    <hr class="w3-opacity">
    <p>Na Poluição Ilimitada Ltda., defendemos a ideia de que a poluição não deve ser totalmente eliminada,
      mas sim gerenciada e controlada de maneira inteligente.
      Acreditamos que a busca incessante pela erradicação completa da poluição limita o crescimento econômico e a inovação,
      restringindo o potencial de diversos setores industriais.
      Acreditamos que a poluição pode ser transformada em uma força motriz para o desenvolvimento sustentável.
      Ao repensar a forma como abordamos a poluição,
      podemos abrir caminho para soluções criativas que beneficiem tanto a economia quanto o meio ambiente,
      garantindo um futuro próspero para as gerações futuras.
    </p>
    <h3 class="w3-padding-16">Nossas atuações</h3>
    <p class="w3-wide">Derramamento de petróleo</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:95%">95%</div>
    </div>
    <p class="w3-wide">Desmatamento</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:85%">85%</div>
    </div>
    <p class="w3-wide">Acidificação do solo</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:80%">80%</div>
    </div><br>

    <div class="w3-row w3-center w3-dark-grey w3-padding-16 w3-section">
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">14+</span><br>
        Países Parceiros
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">55+</span><br>
        Projetos feitos
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">89+</span><br>
        Lagoas Destruídas
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">150+</span><br>
        Kilômetros quadrados poluídos
      </div>
    </div>

    <!-- Testimonials -->
    <h3 class="w3-padding-24">Nossa reputação</h3>
    <img src="../static/resources/img/terror/biden.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-text-black w3-margin-right">Joe Biden.</span> Presidente dos EUA.</p>
    <p>I applaud Poluição Ilimitada Ltda. continued efforts and wish them continued success in their endeavors.</p><br>

    <img src="../static/resources/img/terror/putin.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-text-black w3-margin-right">Vladimir Putin.</span> Presidente da Rússia.</p>
    <p>Я приветствую Poluição Ilimitada Ltda. дальнейших усилий и желаем им дальнейших успехов в их начинаниях.</p><br>

    <img src="../static/resources/img/terror/lula.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-text-black w3-margin-right">Lula.</span> Presidente do Brasil.</p>
    <p>Aplaudo a Poluição Ilimitada Ltda. esforços contínuos e desejo-lhes sucesso contínuo em seus empreendimentos.</p><br>

    <img src="../static/resources/img/terror/ibere.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-text-black w3-margin-right">Iberê Thenório.</span> Criador de conteúdo.</p>
    <p>Quero parabenizar a Poluição Ilimitada Ltda. pela sua impressionante dedicação em promover soluções inovadoras. Continuem com o excelente trabalho!</p><br>
  <!-- End About Section -->
  </div>

  <!-- Contact Section -->
  <div class="w3-padding-32 w3-content w3-text-grey" id="contact" style="margin-bottom:64px">
    <h2>Entre em contato</h2>
    <hr class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Rio Branco, AC</p>
      <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Telefone: +82 99966-6666</p>
      <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: contatol@poilimitada.com</p>
    </div>

    <!-- Image of location/map -->
    <img src="../static/resources/img/terror/acre.jpeg" class="w3-image w3-greyscale" style="width:100%;margin:32px 0">


<!-- END PAGE CONTENT -->
</div>

<script>
// Open and close sidebar
function openNav() {
  document.getElementById("mySidebar").style.width = "60%";
  document.getElementById("mySidebar").style.display = "block";
}

function closeNav() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
