<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Omega Vaults Solutions</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://webthemez.com" />
<!-- css --> 
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="../static/vendors/materialize/css/materialize.min.css" media="screen,projection" />
<link href="../static/resources/css/bootstrap.min.css" rel="stylesheet" />
<link href="../static/resources/css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="../static/resources/css/flexslider.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../static/resources/css/zoomslider.css" />
<link href="../static/resources/css/style.css" rel="stylesheet" />
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper" class="home-page">
	<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><i class="icon-info-blocks material-icons">account_balance</i>Omega Vaults Solutions</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="HillSide"><a class="waves-effect waves-dark" href="index.html">Início</a></li>
						 <li class="dropdown">

                        <li><a class="waves-effect waves-dark" href="portfolio.html">Galeria</a></li>
                        <li><a class="waves-effect waves-dark" href="pricing.html">Preço</a></li>

                    </ul>
                </div>
            </div>
        </div>
	</header>
	<!-- end header -->
	<section id="banner">
	 
	<!-- Slider -->
	<div id="demo-1" data-zs-src='["../static/resources/img/home/interiorbunker.jpg", "../static/resources/img/home/post.jpg", "../static/resources/img/home/pc.jpg"]' data-zs-overlay="dots">
		<div class="demo-inner-content">
			<h1><span>Omega Vaults</span></h1><br/>
			<p>Sua única solução</p>
		</div>
	</div>
	<!-- end slider --> 
	</section>  
		<section class="projects">
		<div class="container">
	 	<div class="row">
			<div class="col-md-12">
				<div class="aligncenter"><h2 class="aligncenter">Destaques</h2>Do conforto ao luxo, apresentamos ofertas com excelentes preços perto da sua casa! <br/>Encontre agora mesmo o melhor bunker para a sua família! </div>
				<br/>
			</div>
		</div>
	
	<div class="row service-v1 margin-bottom-40">
            <div class="col-md-4 md-margin-bottom-40">
					<div class="card small">
                        <div class="card-image">
                             <img class="img-responsive" src="../static/resources/img/home/bunker1.jpg" alt="">
                        </div>
                        <div class="card-content"> 
                            <p>
                                <span class="price">$10 milhões</span>
								<h4>Brasil - Acre</h4>
								<a href="details.html" class="btn btn-details">Detalhes</a>
                            </p>
                        </div>
                    </div>        
            </div>
			   <div class="col-md-4 md-margin-bottom-40">
					<div class="card small">
                        <div class="card-image">
                             <img class="img-responsive" src="../static/resources/img/home/bunker2.jpg" alt="">
                        </div>
                        <div class="card-content">
                           <p>
                                <span class="price">$189 milhões</span>
								<h4>América - Acre </h4>
								<a href="details.html" class="btn btn-details">Detalhes</a>
                            </p>
                        </div>
                    </div>        
            </div>
			   <div class="col-md-4 md-margin-bottom-40">
					<div class="card small">
                        <div class="card-image">
                             <img class="img-responsive" src="../static/resources/img/home/bunker3.jpg" alt="">
                        </div>
                        <div class="card-content">
                           <p>
                                <span class="price">$100 milhões</span>
								<h4>Terra - Acre</h4>
								<a href="details.html" class="btn btn-details">Detalhes</a>
                            </p>
                        </div>
                    </div>        
            </div> 
        </div>
		</div>
		</section>
	<section id="content"> 
	<div class="container">
	
		<section class="services">
	    	<div class="row">
			<div class="col-md-12">
				<div class="aligncenter"><h2 class="aligncenter">Comodidades</h2>Recupere a vida antiga da sua família, eis o mais luxuoso conjunto de bunkers pós apocalípticos do mundo <br/>Piscinas aquecidas, parque infantil e sauna são apenas algumas das comodidades oferecidas.</div>
				<br/>
			</div>
		</div>

	 <div class="row">
            <div class="col-sm-4 info-blocks"> 
				<i class="icon-info-blocks material-icons">track_changes</i>
                <div class="info-blocks-in">
                    <h3>Parquinho</h3>
                    <p>O maior dispositivo de entretenimento infantil que ainda funciona</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">settings_input_svideo</i>
                <div class="info-blocks-in">
                    <h3>Academia</h3>
                    <p>As mais completas instalações para o ínicio da sua vida saudável</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">queue_music</i>
                <div class="info-blocks-in">
                    <h3>Playlist</h3>
                    <p>Só tem dinheiro para 1 pessoa? Com nossas playlists você nunca se sentirá sozinho!</p>
                </div>
            </div>
        </div>
<div class="row">
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">my_location</i>
                <div class="info-blocks-in">
                    <h3>Piscina</h3>
                    <p>Venha se refrescar em piscinas aquecidas no único lugar do mundo onde a vida humana continua</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">shuffle</i>
                <div class="info-blocks-in">
                    <h3>Clube</h3>
                    <p>O lugar perfeito para trocar as antigas (e não vivas) amizades por novas!</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">tab_unselected</i>
                <div class="info-blocks-in">
                    <h3>24/7 Segurança</h3>
                    <p>Jamais se incomode com o vizinho chato! Aqui você nao tem vizinhos!</p>
                </div>
            </div>
        </div>
		</section>
	</div>
	</section>
	
	<section class="section-padding gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>ATENÇÃO</h2>
						<p>Nossa empresa conta com especialistas que preveem a futuros desastres com eficiência de 1200%!<br>Atenção! Eles preveram um desastre ambiental em 19 de maio de 2031 as 19h 41' e 3'', compre seu bunker antes dessa data ou aproveite o fim do mundo junto com o seu.</p>
					</div>
				</div>
			</div>
			<div class="row">
			
				<div class="col-md-6 col-sm-6">
					<div class="about-image">
						<img src="../static/resources/img/home/equipe.jpg" alt="About Images">
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="about-text">
					<h3>Sobre o fim do mundo e nossa solução</h3>
						<p>Desastres naturais acontecem com frequência, entretanto não se engane, este irá mudar nossas vidas para sempre. Em maio de 2031 um terrível desastre com certeza irá ocorrer, se prepare antes que seja tarde demais.</p>
<p>Algumas pessoas irão negar, mas está acontecendo e nao há como evitar. As informações que temos (e que, como uma empresa transparente, transmitimos sempre para a população) são a data e local, o tipo de incidente e obscuro, mas não o deixa menos letal. Como pioneira no ramo de bunker, e amiga da comunidade, já avisamos com antecedência para a possível compra com desconto dos nossos quartos. Aproveite agora com o cupom EUACREDITONAOMEGA.</p>
						<a href="#" class="btn btn-primary waves-effect waves-dark">Saiba Mais</a>
					</div>
				</div>
			</div>
		</div>
	</section>	  

</div>
<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up HillSide"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/resources/js/jquery.js"></script>
<script src="../static/resources/js/jquery.easing.1.3.js"></script>
<script src="../static/vendors/materialize/js/materialize.min.js"></script>
<script src="../static/resources/js/bootstrap.min.js"></script>
<script src="../static/resources/js/jquery.fancybox.pack.js"></script>
<script src="../static/resources/js/jquery.fancybox-media.js"></script>
<script src="../static/resources/js/jquery.flexslider.js"></script>
<script src="../static/resources/js/animate.js"></script>
<!-- Vendor Scripts -->
<script src="../static/resources/js/modernizr.custom.js"></script>
<script src="../static/resources/js/jquery.zoomslider.min.js"></script>
<script src="../static/resources/js/jquery.isotope.min.js"></script>
<script src="../static/resources/js/jquery.magnific-popup.min.js"></script>
<script src="../static/resources/js/animate.js"></script>
<script src="../static/resources/js/custom.js"></script>
</body>
</html>