<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Omega Vaults Solutions</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://webthemez.com" />
<!-- css --> 
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="../static/vendors/materialize/css/materialize.min.css" media="screen,projection" />
<link href="../static/resources/css/bootstrap.min.css" rel="stylesheet" />
<link href="../static/resources/css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="../static/resources/css/flexslider.css" rel="stylesheet" />
<link href="../static/resources/css/style.css" rel="stylesheet" />
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper">
	<!-- start header -->
		<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><i class="icon-info-blocks material-icons">account_balance</i>Omega Vaults Solutions</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="HillSide"><a class="waves-effect waves-dark" href="index.html">Início</a></li>
						 <li class="dropdown">

                        <li><a class="waves-effect waves-dark" href="portfolio.html">Galeria</a></li>
                        <li><a class="waves-effect waves-dark" href="pricing.html">Preço</a></li>

                    </ul>
                </div>
            </div>
        </div>
	</header>
	<section id="inner-headline">
	<div class="container">
	
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Preços</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
<section id="pricing">
        <div class="container">
           <div class="row"> 
							<div class="col-md-12">
								<div class="about-logo">
									<h3>Nossa lista de <span class="color">Preços</span></h3>
									<p>Apresentamos a você a detalhada tabela de preços de aluguéis de bunkers, um guia completo para aqueles que buscam um refúgio seguro em tempos de incerteza. Essa tabela oferece uma visão abrangente dos diferentes tipos de bunkers disponíveis e suas respectivas opções de locação.</p>
								</div>  
							</div>
						</div>
            <div class="row"> 
			<div class="col-md-4 menuItem">     
                                 <ul class="menu">
                                <li>
                                    Bunker Individual
									 </li><li>
                                    <div class="detail">Diária<span class="price">$ 1000,00</span></div>
									 </li><li>
									 <div class="detail">Semanal<span class="price">$ 7000.00</span></div>
									 </li><li>
                                    <div class="detail">Mensal<span class="price">$ 21000.00</span></div>
									</li><li>
                                    <div class="detail">Com espaço suficiente para abrigar uma única pessoa, esse bunker individual oferece privacidade e segurança, além de recursos essenciais para a sobrevivência.</div>
									</li><li>
                                </li> 
								<li>
								<a href="#" class="btn btn-primary waves-effect waves-dark">Reserve já</a></li>
								<li></li>
                            </ul>
                        </div>
						<div class="col-md-4 menuItem">     
                            <ul class="menu">
                                <li>
                                    Bunker Familiar
									 </li><li>
                                    <div class="detail">Diária<span class="price">$ 4000,00</span></div>
									 </li><li>
									 <div class="detail">Semanal<span class="price">$ 21000.00</span></div>
									 </li><li>
                                    <div class="detail">Mensal<span class="price">$ 84000.00</span></div>
									</li><li>
                                    <div class="detail"> Ideal para famílias pequenas, esse bunker oferece um espaço confortável para acomodar até quatro pessoas.<br>.</div>
									</li><li>
                                </li> 
								<li>
								<a href="#" class="btn btn-primary waves-effect waves-dark">Reserve já</a></li>
								<li></li>
                            </ul>
                        </div>
						<div class="col-md-4 menuItem">  
                                 <ul class="menu">
                                <li>
                                    Bunker de Luxo
									 </li><li>
                                    <div class="detail">Diária<span class="price">$ 12000,00</span></div>
									 </li><li>
									 <div class="detail">Semanal<span class="price">$ 63000.00</span></div>
									 </li><li>
                                    <div class="detail">Mensal<span class="price">$ 252000.00</span></div>
									</li><li>
                                    <div class="detail">Projetado para aqueles que desejam o máximo de conforto e estilo, esse bunker de luxo oferece instalações de alto padrão.<br>.</div>
									</li><li>
                                </li> 
								<li>
								<a href="#" class="btn btn-primary waves-effect waves-dark">Reserve já</a></li>
								<li></li>
                            </ul>
                        </div>
			</div>
        </div>
    </section>
	</section>
</div>
<a href="#" class="scrollup waves-effect waves-dark"><i class="fa fa-angle-up HillSide"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/resources/js/jquery.js"></script>
<script src="../static/resources/js/jquery.easing.1.3.js"></script>
<script src="../static/vendors/materialize/js/materialize.min.js"></script>
<script src="../static/resources/js/bootstrap.min.js"></script>
<script src="../static/resources/js/jquery.fancybox.pack.js"></script>
<script src="../static/resources/js/jquery.fancybox-media.js"></script>
<script src="../static/resources/js/jquery.flexslider.js"></script>
<script src="../static/resources/js/animate.js"></script>
<!-- Vendor Scripts -->
<script src="../static/resources/js/modernizr.custom.js"></script>
<script src="../static/resources/js/jquery.isotope.min.js"></script>
<script src="../static/resources/js/jquery.magnific-popup.min.js"></script>
<script src="../static/resources/js/animate.js"></script>
<script src="../static/resources/js/custom.js"></script>
</body>
</html>